.tweet-card {
  width: 400px;
  height: 150px;
  border: 1px solid grey;
  position: relative;
  display: flex;
}
.tweet-col-a {
  float: left;
  padding: 5px;
  width: 25%;
}
.tweet-col-b {
  float: left;
  padding: 5px;
  width: 75%;
}
